<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cognitio/Clases</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <h1 style="margin: -21px 0px -45px 35%;">Listado de Clases Programadas</h1>
       <a th:href="@{/}" style="padding: 84px;  font-size: 20px; text-decoration: none;">Index ></a>
       
        <div class="menu" style="margin-top: 10px; padding: 84px">
            <a th:href="@{/lisPersonas}" class="ver" style=" font-size: 20px;  text-decoration: none;">Citas  ></a><br> <br>
            <a th:href="@{/lisClases}" class="ver" style=" font-size: 20px;">Clases  ></a> <br> <br>
            <a th:href="@{/lisPersonas}" class="ver" style=" font-size: 20px;  text-decoration: none; ">Usuarios  ></a> <br><br>
            <a th:href="@{/lisInventarios}" class="ver" style=" font-size: 20px;  text-decoration: none;">Inventarios  ></a><br> <br>
        </div>
       
       
        <div th:if="${clases !=null and !clases.empty}">
            
            <table border="1" style="height: 193px; width: 874px; margin-left: 35%; margin-bottom: 24px; margin-top: -292px;">
                <tr>
                    <th>CLASES</th>
                    <th>TIPO</th><!-- comment -->
                    <th>RESERVA</th><!-- comment -->
                    <th>INSTRUCTOR</th><!-- comment -->
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="clase : ${clases}">
                    <td th:text="${clase.idclase}" style="text-align: center;">Mostrar id</td>
                    <td th:text="${clase.nomclase}"style="text-align: center;">Mostrar nom_clase</td><!-- comment -->
                    <td th:text="${clase.fechareserva}"style="text-align: center;">Mostrar fechare_serva</td><!-- comment -->
                    <td th:text="${clase.nominstructor}"style="text-align: center;">Mostrar nombre instructor</td>
                    <td style="text-align: center;"><a th:href="@{/editarClase/} + ${clase.idclase}" th:text="Editar"/></td>
                    <td style="text-align: center;"><a th:href="@{/eliminarClase/} + ${clase.idclase}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
         <a th:href="@{/agregarClase}"   style="margin-left: 70%; font-size: 20px; padding: 24px;">Nueva Clase</a>
        <div th:if="${clases==null or clases.empty}">
            la lista de personas esta vacia
        </div>
         
         <div>
             <img src="https://raw.githubusercontent.com/Estebanlozano/Cognitio/920556ce7075d7bcde47253711c937d813a404ee/Cognitio/cognitio/src/main/resources/templates/img/grupal.jpg"
                 style="width: 333px; height: 198px; padding-left: 20px;}" >
         </div>


        <footer  th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>